doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style/main.css')
  body
    block content
    .nav 
      .mid
        a(href="/") 首页
        a(href="/post") 文章
          .right
            a(href="/res") 注册
            a(href="/login") 登录
    
